section {
  margin-top: 5rem;
}

.section__head {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.section__head span {
  display: grid;
  place-items: center;
  background-color: #313bac;
  padding: 0.8rem;
  border-radius: 1rem;
  color: #f9f6ee;
  font-size: 1.8rem;
}

@media (max-width: 600px) {
  section {
    margin-top: 3rem;
  }

  .section__head h2 {
    font-size: 2rem;
  }
}
