.teachers-subtitle {
  margin-bottom: 5rem;
}
.teachers-subtitle h3 {
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  color: #313bac;
}

.teachers__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
}

.card.teacher {
  padding: 1rem;
}

.teacher__img {
  border-radius: 0 2rem;
  overflow: hidden;
  box-shadow: 0 1.5rem 2rem rgba(26, 26, 54, 0.4);
  transition: all 500ms ease-in-out;
}

.teacher:hover .teacher__img {
  box-shadow: none;
}

.teacher h4 {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 2rem;
}

.teacher p {
  margin-top: 0.5rem;
}

.teacher__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
}

.teacher__socials a {
  display: grid;
  place-items: center;
  font-size: 0.7rem;
  color: #f9f6ee;
  background-color: #313bac;
  padding: 0.8rem;
  border-radius: 50%;
  box-shadow: 0 1.5rem 2rem rgba(26, 26, 54, 0.4);
  transition: all 500ms ease-in-out;
}

.teacher__socials a:hover {
  color: #313bac;
  background-color: #f9f6ee;
  box-shadow: none;
}

/* Queries (ecrãs médios)*/

@media (max-width: 1024px) {
  .teachers__container {
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
  }

  .teachers-subtitle h3 {
    font-size: 2.5rem;
  }

  .teacher h4 {
    font-size: 1.6rem;
  }
}

/* Queries (ecrãs pequenos)*/

@media (max-width: 600px) {
  .teachers__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .teachers-subtitle {
    margin-bottom: 2.5rem;
  }

  .card.teacher {
    width: 90%;
    margin-inline: auto;
  }
}
